.card {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 8px;
  padding: 2rem;
  min-width: 20ch;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.6rem;
}

.card__title {
  font-weight: bold;
  font-size: 4rem;
}

.card__temperature {
  font-size: 6rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.card__img {
  height: 100px;
  width: auto;
}
