.footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.footer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-decoration: none;
}

.footer__link:hover {
  color: #b9b5b5;
}

.footer__icon {
  width: 25px;
  height: auto;
}
